<div class="media m-4" >
  <img src="https://wallpaperplay.com/walls/full/6/f/2/324093.jpg" class="align-self-start mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Malediven</h5>
    <p>Die Malediven sind ein tropisches Land im Indischen Ozean, das 26 ringförmige Atolle umfasst, die aus mehr als 1.000 Koralleninseln bestehen. Sie sind für ihre Strände, blauen Lagunen und ausgedehnten Riffe bekannt. Die Hauptstadt Malé hat einen geschäftigen Fischmarkt, Restaurants und Läden an der Hauptstraße Majeedhee Magu sowie die aus dem 17. Jahrhundert stammende Friday Mosque, eine aus weißer Koralle geschnitzte Moschee.</p>
    <p>Der Inselstaat hat sich in den letzten Jahren zu einem immer beliebteren Touristenziel entwickelt, was steigenden Wohlstand für die Bewohner des Landes brachte, aber gleichzeitig ökologische und soziale Probleme verursachte.</p>
  </div>
</div>

<div class="media m-4" >
  <img src="https://wallpaperplay.com/walls/full/9/d/d/208788.jpg" class="align-self-start mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Miami Beach - USA</h5>
    <p>Miami Beach ist eine Inselstadt im Süden Floridas, die durch Brücken mit dem Festland Miami verbunden ist. Weite Strände erstrecken sich vom North Shore Open Space Park, über den mit Palmen gesäumten Lummus Park bis hin zum South Pointe Park. Das südliche Ende, South Beach, ist bekannt für sein internationales Prestige unter Modellen und Prominenten, sowie für seine Architektur des frühen 20. Jahrhunderts im historischen Art-Déco-Viertel mit pastellfarbenen Gebäuden, vor allem an der Ocean Drive.</p>
    <p>In Miami Beach befinden sich hunderte von Hotels, Ferienhäusern, Restaurants und Nachtclubs.</p>
  </div>
</div>

<div class="media m-4" >
  <img src="https://media-cdn.holidaycheck.com/w_1280,h_720,c_fill,q_80/ugc/images/cba564b5-5b54-4dd9-8635-b654ce8e0e4c" class="align-self-start mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Dubai - UEA</h5>
    <p>Dubai ist eine Stadt und ein Emirat in den Vereinigten Arabischen Emiraten. Die Stadt ist für Luxusläden, ultramoderne Architektur und ein pulsierendes Nachtleben bekannt. Der Burj Khalifa, ein 830 m hoher Wolkenkratzer, dominiert die aus Wolkenkratzern bestehende Skyline. Davor befindet sich die Dubai Fountain, deren Wasserstrahlen und Lichter zur Musik eine Choreografie zeigen. Auf künstlichen Inseln vor der Küste liegt Atlantis, The Palm, ein Resort mit einem Wasserpark und einem Aquarium.</p>
    <p>Dank eines jahrzehntelangen Baubooms ist Dubai die Stadt mit der weltweit höchsten Anzahl Wolkenkratzern.</p>
  </div>
</div>


<div class="media m-4" >
  <img src="https://wallpaperaccess.com/full/32528.jpg" class="align-self-start mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">London - UK</h5>
    <p>CLondon, die Hauptstadt Englands und Großbritanniens, ist eine moderne Stadt, deren Wurzeln in die Zeit des Römischen Reiches zurückgehen. In ihrem Zentrum stehen die imposanten Houses of Parliament, der legendäre Uhrturm „Big Ben“ und Westminster Abbey, Krönungsstätte der britischen Monarchen. Am anderen Ufer der Themse befindet sich das Riesenrad London Eye, das einen Panoramablick auf den Kulturbezirk South Bank und den Rest der Stadt eröffnet.</p>
    <p>London ist eines der bedeutendsten Kultur- und Handelszentren der Welt mit zahlreichen Universitäten, Hochschulen, Theatern und Museen.</p>
  </div>
</div>