<div class="jumbotron m-5">
  <h1 class="display-4">Welcome to Travelex!</h1>
  <p class="lead font-weight-bold">Your dream vacation is our concern!</p>
  <hr class="my-4">
  <p>If you need inspiration go to Blog</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Blog</a>
</div>

 <!-- Page Content -->
 
<div class="container">
	

    <div class="row">
      <div class="col-md-8 mb-5 mt-2">
        <h2>What We Do</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
        <a class="btn btn-danger btn-lg" href="#">Contact us &raquo;</a>
      </div>
      <div class="col-md-4 mb-5 mt-2">
        <h2 id="contact">Contact Us</h2>
        <hr>
        <address>
          <strong class="h4"><i>CarRent</i></strong>
          <br>Kettenbrückengasse 3
          <br>Wien, 1040
          <br>
        </address>
        <address>
        	<p class="font-weight-bolder mb-0">Phone</p>
          <p>(01) 187-0909</p>
          <hr>
         <p class="font-weight-bolder mb-0">E-Mail</p>

          <a href="mailto:#">office@rent.com</a>
        </address>
      </div>
    </div>
</div>

    <!-- /.row -->